<!doctype html>
<html ng-app="app">
  <head>
    <title></title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="../vendors/font-awesome-4.4.0/css/font-awesome.min.css" type="text/css" media="screen" charset="utf-8" />
    <script src="../vendors/angular.min.js"></script>
    <script src="../vendors/angular-sanitize.min.js"></script>
    <script src="../vendors/angular-local-storage.min.js"></script>
    <script src="../vendors/d3.min.js"></script>
    <script src="../vendors/lodash.min.js"></script>
    <script src="../vendors/clipboard.min.js"></script>
    <script src="../vendors/jquery.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendors/ui-bootstrap-tpls-1.2.4.min.js"></script>
    <script src="./js/controllers/HomeController.js"></script>
    <script src="./js/controllers/LoadModalController.js"></script>
    <script src="./js/directives/directives.js"></script>
    <style>
      #tree {
        height: 300px;
        min-height: 300px;
      }
    </style>
  </head>
  <body ng-controller="HomeController">
    <div class="container-fluid">
      <h1></h1>

      <div class="row">
        <div class="col-sm-4">
          <input ng-model="input.projectName" type="text" class="form-control" placeholder="Test name" />
        </div>
      </div>

      <div class="row">

        <div class="col-sm-4">
          <label>Svg</label>
          <div class="">
            <button class="btn btn-default" ng-click="btnSaveClicked()">Save</button>
            <button class="btn btn-default" ng-click="btnLoadClicked()">Load</button>
          </div>
          <project tree="tree" selected-node="selectedNode" colors="colors"></project>
        </div>

        <div class="col-sm-4">
          <div ng-show="selectedNode">
            <h2>Node infos:</h2>
            <div class="form-group">
              <button ng-click="btnDeleteNodeClicked()" class="btn btn-danger"><i class="fa fa-times"></i> Delete node</button>
            </div>
            <label>Column:</label>
            <input ng-model="selectedNode.column" type="text" class="form-control" />
            <label>Color:</label>
            <select ng-model="selectedNode.color" ng-options="color for color in colors" class="form-control"></select>
            <div ng-repeat="(key, path) in selectedNode.parentsPaths">
              <h2>Path to {{key}}:</h2>
              <label>Color:</label>
              <select ng-model="selectedNode.parentsPaths[key].color" ng-options="color for color in colors" class="form-control"></select>
              <label>Path:</label>
              <div class="form-group">
                <button ng-click="btnAddPointClicked(selectedNode.parentsPaths[key].path)" class="btn btn-success" uib-tooltip="Create new point"><i class="fa fa-plus"></i></button>
              </div>
              <div ng-repeat="point in path.path">
                <div class="row">
                  <div class="col-sm-2">
                    <input ng-model="selectedNode.parentsPaths[key].path[$index][0]" type="text" class="form-control" />
                  </div>
                  <div class="col-sm-2">
                    <input ng-model="selectedNode.parentsPaths[key].path[$index][1]" type="text" class="form-control" />
                  </div>
                  <div class="col-sm-2">
                    <input ng-model="selectedNode.parentsPaths[key].path[$index][2]" type="text" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <button ng-click="btnMoveDownClicked(selectedNode.parentsPaths[key].path, $index)" class="btn btn-default" uib-tooltip="Move down"><i class="fa fa-arrow-down"></i></button>
                    <button ng-click="btnRemovePointClicked(selectedNode.parentsPaths[key].path, $index)" class="btn btn-danger" uib-tooltip="Remove point"><i class="fa fa-times"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <label>Input file</label>
              <button class="copy btn btn-default btn-xs" data-clipboard-target="#out">Copy</button>
              <textarea id="out" class="form-control" readonly></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label>Tests file</label>
              <button class="copy btn btn-default btn-xs" data-clipboard-target="#tests">Copy</button>
              <textarea id="tests" class="form-control" readonly></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label>Shell script</label>
              <button class="copy btn btn-default btn-xs" data-clipboard-target="#shell">Copy</button>
              <textarea id="shell" class="form-control" readonly></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label>Structure</label>
              <button class="copy btn btn-default btn-xs" data-clipboard-target="#shell">Copy</button>
              <code><pre ng-bind-html="highlight(tree)"></pre></code>
            </div>
          </div>

        </div>

      </div>

    </div>
    <script>
      new Clipboard('.copy');

      var render = function() {
        //generateTestsFile();
        //generateShellScript();
        //generateInputFile();
      };

      var generateInputFile = function() {
        var output = _.map(tree, function(el) { return _.pick(el, ['id', 'parents']); });
        $('#out').val(JSON.stringify(output, null, 2));
      };

      var generateTestsFile = function() {
        var testName = 'Test1';
        var out = '';
        out += 'func ' + testName + '(t *testing.T) {\n';

        out += '	// Initial input\n';
        out += '	inputNodes := make([]map[string]interface{}, 0)\n';
        _.each(tree, function(node) {
          var p = _.map(node.parents, function(el) { return '"' + el + '"'; }).join(',');
          out += '	inputNodes = append(inputNodes, map[string]interface{}{"id": "' + node.id + '", "parents": []string{' + p + '}})\n';
        });

        out += '\n	out, _ := buildTree(inputNodes, customColors)\n\n';

        out += '	// Expected output\n';
        var expectedColumns = _.map(tree, 'column').join(', ');
        out += '	expectedColumns := []int{' + expectedColumns + '}\n\n';

        out += '	expectedPaths := []map[string]Path{\n';
        _.each(tree, function(node) {
          out += '		map[string]Path{\n';
          _.each(node.parents, function(parentId) {
            var parentNode = tree[parentId];
            out += '			"' + parentId + '": Path{"' + parentId + '", []Point{Point{' + node.column + ', ' + node.id + ', 0}, Point{' + parentNode.column + ', ' + parentNode.id + ', 0}}, "nocolor"},\n';
          });
          out += '		},\n';
        });
        out += '	}\n\n';

        out += '	// Validation\n';
        out += '	validateColumns(t, expectedColumns, out)\n';
        out += '	validatePaths(t, expectedPaths, out)\n';
        out += '	validateColors(t, expectedPaths, out)\n';
        out += '}';

        $('#tests').val(out);
      };


      var generateShellScript = function() {

        var createCommit = function(id) {
          var out = '';
          out += 'touch ' + id + '\n';
          out += 'git add ' + id + '\n';
          out += 'git commit -m ' + id + '\n';
          return out;
        };

        var reversedNodes = _.cloneDeep(tree);
        _.reverse(reversedNodes);
        var out = "";
        _.each(reversedNodes, function(item, idx) {
          if (item.parents.length == 0) {
            out += 'git checkout -b ' + item.id + '\n';
            out += createCommit(item.id);
          } else if (item.parents.length == 1) {
            if (tree[item.parents[0]].column < item.column) {
              out += 'git checkout ' + item.parents[0] + '\n';
              out += 'git checkout -b ' + item.id + '\n';
              out += createCommit(item.id);
            } else if (tree[item.parents[0]].column == item.column) {
              out += 'git checkout ' + item.parents[0] + '\n';
              out += 'git checkout -b ' + item.id + '\n';
              out += createCommit(item.id);
            }
          } else if (item.parents.length == 2) {
            if (tree[item.parents[0]].column < item.column) {
              out += 'git checkout ' + item.parents[1] + '\n';
              out += 'git checkout -b ' + item.id + '\n';
              out += 'git merge -m ' + item.parents[0] + ' --no-ff ' + item.parents[0] + '\n';
            } else if (tree[item.parents[1]].column > item.column) {
              out += 'git checkout ' + item.parents[0] + '\n';
              out += 'git checkout -b ' + item.id + '\n';
              out += 'git merge -m ' + item.parents[1] + ' --no-ff ' + item.parents[1] + '\n';
            }
          }
        });
        $('#shell').val(out);
      };


      render();
    </script>
  </body>
</html>
